:root {
  --clr-bckgrnd-gold: #cba86b;
  --clr-bckgrnd-gold: #e0e0e0;
}

* {
  margin: 0;
  font-family: "PT Serif", serif;
}

/* nav/header */

.navbar-nav {
  height: 7vh;
  background-color: whitesmoke;
}

.nav-cont {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo-cont {
  display: flex;
  align-items: center;
}

.homestead-logo {
  width: 5vw;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "PT Serif", serif;
  margin-right: 1rem;
}

.nav-link {
  font-size: 1.5rem;
  color: black;
}

.nav-link:hover {
  color: #cba86b;
  transform: scale(1.1);
}

/* Footer */
.footer-text {
  color: var(--clr-footer-grey);
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 0.9vh;
  right: 1.5vw;
  font-size: 2vh;
}

.github-links {
  color: var(--clr-home-grey);
  text-decoration: none;
}

/* pages */

/* Not Found */

.not-found-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-image {
  height: 65dvh;
}

/* Home */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.home-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-cont-2 {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.home-cont-3 {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  padding-top: 2rem;
}

.home-cont-4 {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 120vh;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.home-cards {
  display: flex;
  justify-content: center;
}

.home-cards > * {
  margin-right: 20px;
}

.home-cards > *:last-child {
  margin-right: 0;
}

.home-cards > *:hover {
  transform: scale(1.1);
}

.homestead-living {
  color: #cba86b;
  letter-spacing: 2px;
  font-size: 4rem;
  font-weight: 800;
}

.home-title {
  position: relative;
  background-image: url("./assets/farmhouse.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 70vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
}

.sub-header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title-h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "PT Serif", serif;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Index */

.index-cont {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.index-title {
  text-align: center;
  margin-bottom: 30px;
}

.index-cards {
  max-height: 80dvh;
  text-align: center;
  flex: 1;
  padding-left: 15px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  z-index: 2;
}

.card-img-top {
  height: 15vw;
  object-fit: cover;
}

.map-cont {
  flex: 2;
  padding-right: 10px;
  z-index: 1;
}

/* Show page */

.about-me-div {
  float: right;
  padding: 2rem;
  width: 30%;
  text-align: center;
}

.card-div {
  width: 70%;
}

.show-cont {
  display: flex;
  padding: 5dvh;
}

/* Sign Up Form */

.form-cont {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  font-size: 2vh;
  font-weight: 700;
}

.title-header {
  text-align: center;
  margin-bottom: 3vh;
  font-size: 5vh;
  font-weight: 600;
  letter-spacing: 5px;
}

.form-control {
  width: 50dvw;
}

/* Sign In and Sign Up Form  */

.edit-cont {
  height: 93vh;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  background-color: var(--clr-bckgrnd-gold);
}

.sign-in-form {
  padding-top: 8rem;
  height: 80vh;
  width: 40vw;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.sign-in-title {
  font-weight: 800;
  padding-bottom: 3rem;
  padding-top: 3rem;
  font-size: 3rem;
  position: absolute;
  top: 15vh;
}

.sign-up-logo {
  width: 18rem;
}

.sign-up-form {
  padding-top: 8rem;
  height: 80vh;
  width: 40vw;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
